<div class="container">
    <div id="heading">
        <img id="head" src="https://media2.giphy.com/media/CePT9ywqtEgyQ/200w.gif?cid=82a1493b0qsctbfva1dm6rkz1h5ab0j3359gbkslgdm1j80d&rid=200w.gif&ct=g">
    </div>
    <div *ngIf="!anyClicked">
        <img class="gifs" width="626" height="352" [src]="source">
    </div>
    <!-- <img class="gifs" src='{{source}}'> -->
    <div *ngIf="anyClicked">
        <video class="gifs" width="626" height="352" loop="true" autoplay="autoplay" muted>
            <source [src]="source">
        </video>
    </div>
    
    <!-- <iframe class="gifs" width="626" height="352" src="https://drive.google.com/file/d/1x3NJafqFQoWH5p9mSvRZHueBexh2ybqg/preview?start=1" allow="autoplay" allowfullscreen></iframe> -->

    <div class="buttons">
        <button class="btn btn-primary" (click)="printOne()">Intro One</button>
        <button class="btn btn-primary" (click)="printTwo()">Intro Two</button>
        <button class="btn btn-primary" (click)="printThree()">Intro Three</button>
        <button class="btn btn-primary" (click)="printFour()">Intro Four</button>
    </div>
</div>