@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Nunito+Sans:wght@400;600;700;800;900&family=Nunito:wght@400;500;600;700&display=swap');

.container{
    display: flex;
    flex-direction: column;
    margin: 3% auto 0;
    text-align: center;
    color: azure;
}

h1{
    font-size: 50px;
    font-family:'Ubuntu';
    font-weight: bold;
    color: rgb(255, 255, 255);
}

#heading{
    height: 0px;
    width: auto;
    background: linear-gradient(90deg, rgba(65,65,65,1) 0%, rgba(0,0,0,1) 100%);
    margin: 0px auto 100px;
}

#head{
    height: 100px;
    width: auto;
    border-radius: 50%;
    background-size: cover;
}

button{
    height: 50px;
    width: 200px;
    background-color: rgb(198, 198, 198);
    border-color: aliceblue;
    color: black;
    margin: 50px 20px 0 0;
    font-family: 'Nunito';
    font-weight: bold;
    font-size: large;
}

.btn:hover{
    background-color: black;
    color: white;
    border-color: black;
}

.buttons{
    display: inline-flex;
    text-align: center;
    margin: 0 auto;
}

.gifs{
    /* width: auto;
    height: 22rem; */
    margin: 5% auto 1%;
    background-color: rgb(144, 144, 146);
    border:5px solid;
    border-width: 15px;
    border-color: rgb(144, 144, 146);
    border-radius: 10px;
}